* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://i.redd.it/wk0s3di5wcw41.jpg") no-repeat;
    background-size: cover;
}
.body_style {
    width: 420px;
    background: transparent;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px rgba(7, 1, 1, 0.1);
    border: 2px solid rgba(0, 0, 0, .1);
    color: #ffffff;
    border-radius: 11px;
    padding: 30px 40px;
    margin-left: 20%;
}
.body_style h1 {
    text-align: center;
    font-style: normal;
    font-size: 40px;
}
.body_style .label_style {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.label_style input{
    width: 100%;
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: rgba(251, 251, 251, 0.8);
    padding: 20px 45px 20px 20px;
}
.label_style input::placeholder {
    color: #ffffff;
}
.form_style .remember_me {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember_me label input {
    accent-color: #2048ae;
    margin-right: 3px;
}
.remember_me a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15.5px;
}
.remember_me a:hover {
    text-decoration: underline;
}
.button_style {
    width: 100%;
    height: 50px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.5s;



}
.form_style .register-link {
    text-align: center;
    font-size: 15px;
    margin: 20px 0 15px;
    color: #ffffff;
}

.form_style .register-link p a {
    color: #ffffff;
    margin: 10px;
    text-decoration: none;
}
.form_style .register-link p a:hover {
    text-decoration: underline;
}
button:hover {
    background-color: #2048ae;
    color: white;
}
