@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}




body {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 15%, rgba(28, 28, 28, 0.92) 100%);
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .container {
        padding: 5px;
    }

    .header {
        text-align: center;
    }
}





#map {
    width: 97%; 
    height: 90%; 
    margin-left: 20px;
    margin-right: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    margin-bottom: 20px;
}


.fan-form {
    width: 50%;
    margin: 0 auto;
}

.fan-form form {
    display: flex;
    flex-direction: column;
}

.fan-form form label {
    margin-top: 10px;
}

.fan-form form input,
.fan-form form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
}

.fan-form form button {
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 10px;
    background-color: #f04;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.fan-form form button:hover {
    background-color: #81082a;
}



a {
    text-decoration: none;
}

.container {
    width: 1400px;
    margin: 0 auto;
}
.wrapper {
    background: #191919;
    padding-bottom: 0;
}
header {
    padding: 50px 0;
}
header .logo {
    font-size: 29px;
    font-weight: 800;
    color: #e52e2e;

}
header span a:visited{
    color: #e52e2e;
}
header nav {
    float: right;
    width: 50%;
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    color: white;
}
header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #e52e2e;

}
header nav ul li.btn a {
    background: #e52e2e;
    padding: 9px 17px;
    border-radius: 6px;
    transition: all 500ms ease;
}
header nav ul li.btn a:hover {
    background: #6a0909;
}
header nav ul li.btn::after {
    background: #6a0909;
}

.container {
    padding-bottom: 100px;
}
.container .active h2 {
    color: white;
    margin-bottom: 70px;
    margin-left: 15px;
}

.hero-contacts h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 35px;
}
.hero-contacts p {
    text-align: center;
}
.hero-contacts img {
    margin-left: 80px;
    margin-top: 20px;
    width: 90%;
}


    /*footer*/
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    flex: 1;
}

.footer-logo h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.footer-logo p {
    font-size: 14px;
    color: #aaa;
}

.footer-links {
    display: flex;
    flex: 3;
    justify-content: space-between;
}

.footer-links div h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links ul li a {
    color: #aaa;
    text-decoration: none;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
    border-top: 1px solid #333;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 650px;
}

.social-icons a {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #aaa;
}
.social-icons img {
    width: 20px;
    height: 15px;
    margin-top: 3px;
    transition: all 0.3s ease;
}
.social-icons img:hover {
    transform: scale(1.2);
}
.social-icons i {
    transition: all 0.3s ease;
}
.social-icons i:hover {
    transform: scale(1.2);
}
.footer-links li {
    transition: all 0.4s ease;
}
.footer-links li:hover {
    transform: scale(1.2);
}
.footer-links li a:hover{
    color: #e52e2e;
}
